/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body {
  width: 60%;
  margin: auto;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
